*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active {outline: none;}
a:focus,a:active {outline: none;}

nav,footer,header,aside {display:block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	padding: 168px 310px 0 289px ;
	background: #e8e8e8;
}

.head1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 7pt;	
color: #273d46;
text-align: center;
text-transform: uppercase;
letter-spacing: 2pt;
opacity: 60%;
}

.head2 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 18pt;	
	color: #273d46;
	text-align: center;
	line-height: 25pt;
}

img {
	width: 821px;
	height: 541px;
	border: white solid 10px;
}

.underpicture {
	margin: 0 67px 0 24px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 12pt;	
	color: #273d46;
	text-align: left;
	line-height: 20pt;
}

.list {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 18pt;
	background: url(/img/check\ icon.png) 0 0 repeat-y;
	margin: 0 40px;
	padding: 0 40px;
}
.list-1, .list-3 {
font-weight: 700;
}



.list-2 {
	color: #80b7b3;
	font-style: italic;
}

.list-4 {
color: #273d46;	
text-decoration: line-through;
opacity: 30%;
}